body {
    font-family: 'Roboto', sans-serif;
    color: #09093a;
    background-color: #f5f5f5;
    font-weight: 340;
    font-size: 1.125em;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}