.find-us {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    &__title {
        text-align: center;
        flex-grow: 1;
        margin-bottom: 20px;
    }
    &__subtitle {
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
    }
    &__content {
        display: flex;
        flex-direction: column;
        line-height: 2;
        @mixin atMedium {
            flex-direction: row;
        }
    }
    &__infos {
        display: flex;
        flex-direction: column;
    }
    &__map-link {
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: $mainRed;
        }
    }
}