.services {
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @mixin atLarge {
            flex-direction: row;
        }
    }
    &__description {
        @mixin atLarge {
            padding-left: 20px;
        }
    }
    &__link {
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: $mainRed;
        }
    }
}