.site-header {
    padding-top: 20px;
    &__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        @mixin atMedium {
            flex-direction: row;
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        @mixin atSmall {
            flex-direction: row;
        }
        &-image {
            width: 60px;
            height: 60px;
            margin-left: 30px;
            @mixin atSmall {
                margin-right: 10px;
                margin-left: 0;
            }
        }
        &-name {
            color: $mainBlue;
            display: block;
            font-size: 1.8em;
            font-weight: 800;
            margin-top: 10px;
            margin-bottom: 5px;
            @mixin atSmall {
                margin-top: 0;
                font-size: 2em;
                font-weight: 800;
            }
            @mixin atMedium {
                font-size: 2.2em;
            }
        }
        &-service {
            display: block;
            text-align: left;
            font-weight: 550;
            color: $mainRed;
        }
    }
    &__contact {
        display: flex;
        margin-top: 5px;
        @mixin atMedium {
            margin-top: 0;
        }
    }
    &__menu {
        background-color: $mainBlue;
        &--mobile {
            position: absolute;
            width: 100%;
            opacity: 0.5;
            z-index: 10;
        }
        @mixin atMedium {
            opacity: 1;
            position: static;
        }
        &-icon {
            background-color: #ababad;
            border: 1px solid rgba(#000, .4);
            border-radius: 5px;
            padding: 8px;
            position: absolute;
            cursor: pointer;
            top: 20px;
            right: 20px;
            @mixin atMedium {
                display: none;
            }
            &--t {
                width: 25px;
                height: 3px;
                background-color: #fff;
            }
            &--m {
                width: 25px;
                height: 3px;
                margin: 5px 0;
                background-color: #fff;
            }
            &--b {
                width: 25px;
                height: 3px;
                background-color: #fff;
            }
        }
        &-content {
            display: none;
            margin: 0;
            @util clearfix;
            @mixin atMedium {
                display: block;
            }
            &--mobile {
                display: block;
            }
        }
        &-item {
            margin-right: 20px;
            @mixin atMedium {
                float: left;
            }
            &--last {
                margin-right: 0;
            }
            &--mobile {
                float: none;
            }
        }
        &-link {
            display: inline-block;
            width: 100%;
            border: 4px solid rgba(0, 0, 0, 0);
            padding: 7px 6px;
            color: #fff;
        }
        &-link:hover {
            border-bottom-color: #fff;
        }
        &-link--active {
            border-bottom-color: #fff;
        }
    }
}